* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    font-family: Neutra,Helvetica,Arial,Sans-serif;
    overflow-x: auto;
    
}

.navbarCustom{
    background-color: #fff !important;
}

.headerCustom {
    padding: 2em 2em !important;
    background: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#ASPxPanel2_EBB{
    display: flex;
    justify-content:center;
    align-items:center;
}

.content {
    padding: 2em 1em;
    background: #e9ecef;
    overflow-y: auto;
    min-height: 100vh;
    height: auto;
}
.dx{
    width: 100%;
    border: none !important;
    margin-bottom: 1em !important;
}

.inputSearch {
    border: none !important;
    font-size: 1em !important;
}
    .inputSearch input {
        padding: 0.5em 1em !important;
        max-width: 100%;
        border-radius: 4px !important;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    }



.gridviewLayout table {
    min-width: 700px !important;
    border-radius: 10px 10px 0 0;
    
}

.dx-ar{
    text-align: left;
}
.dxgvControl .dxctToolbar.dxm-main {
    background-color: #e9ecef;
}
    .dxgvControl .dxctToolbar.dxm-main.dxgvCTTop {
        border-bottom-width: 0 !important;
    }





.task-gap div {
    cursor: pointer;
    white-space: nowrap;
  
}

    .task-gap div:after {
        margin-top: 1em;
        display: block;
        content: '';
        border-bottom: solid 3px #f87c1d;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .task-gap div:hover:after {
        transform: scaleX(1);
    }

    .task-gap div.fromRight:after {
        transform-origin: 100% 50%;
    }

    .task-gap div.fromLeft:after {
        transform-origin: 0% 50%;
    }


.dxflRequired{
    color: red !important;
}
.btnHuy {
    background-color: rgba(248, 124, 29, 0.4);
    color: #f87c1d;
}
.btnHuy:hover {
    background-color: #f87c1d;
    color: #fff;
}